# Suppress MoveIt planning WARN spam (TIMED_OUT etc.) during batch analysis.
# Set all ros.moveit* loggers to ERROR level.
log4j.logger.ros.moveit_ros_planning=ERROR
log4j.logger.ros.moveit_ros_planning_interface=ERROR
log4j.logger.ros.moveit_core.planning=ERROR
log4j.logger.ros.moveit_core.planning_request_adapter=ERROR
log4j.logger.ros.moveit_core.planning_scene=ERROR
log4j.logger.ros.moveit_ros=ERROR
log4j.logger.ros.moveit_core=ERROR
log4j.logger.ros.moveit_kinematics=ERROR
